<h1>Voting</h1>
	<div class="row well">
			<h3>Candidates</h3>
			<% @candidates.each do |candidate|%>
				<div class="span2 well candidate ui-draggable">
					<% if candidate.image_url != ""%>
					<%= image_tag(candidate.image_url, :size=> "256x256")%>
					<%end%>
					<h2><%= candidate.name%></h2>
				</div>
				<%end%>
		</div>
<div class="row">
	<div class="span3 yes well landing" data-children="0">
		<h2>Yes</h2>
		<span class="muted">15 remaining</span>
	</div>
	<div class="span3 no well landing" data-children="0">
		<h2>No</h2>
	</div>
	<div class="span3 abstain well landing" data-children="0">
		<h2>Abstain</h2>	
	</div>
</div>	

<button class="pull-right btn btn-danger">Submit</button>
