<h1> IRV Tally Results</h3>
<h2>Total Votes: <%= @vote_number%></h2>
<div class="row well">
	<h2>First Round</h2>
	<%= @outcome_1 %>
	<% if @outcome_2 != nil%>
	<h2>Second Round</h2>
	<%= @outcome_2 %>
	<% end%>
</div>


