// Place all the styles related to the voting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yes
{
background-color: rgb(144,238,144);

}

.no
{
background-color: rgb(248,131,121);

}

.abstain
{
background-color: rgb(211,211,211);

}

.dropped
{
	background-color: rgb(204, 136, 153);
}

.minified
{
	height: 20px;
	.candidate_image {
		display:none;
	}
	.name
	{
		font-size: 12pt;
	}
}

.bottom_box
{
	margin-bottom : 8px;
	
}


.candidate_image
{
	height: 140px;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	
}