<h1>Welcome to vOTe</h1>
<h2 style = "padding-top: 30px; color: red">You are voting for closed rush candidates!! Please be aware of your surroundings before you sign in</h2>
<p>Theta Tau's solution to voting.  Please sign up or log in.</p>
